#content .WireTabs #_ProcessPageEditPrev,
#content .WireTabs #_ProcessPageEditNext {
  color: #146ac5;
  font-weight: 700;
}

#content .WireTabs #_ProcessPageEditPrev:hover,
#content .WireTabs #_ProcessPageEditNext:hover {
  color: #fff;
}

.AdminThemeReno #content .WireTabs #_ProcessPageEditPrev:hover,
.AdminThemeReno #content .WireTabs #_ProcessPageEditNext:hover {
  color: #E95372;
}

#content .WireTabs #_ProcessPageEditPrev {
  float: right
}

#content .WireTabs #_ProcessPageEditNext {
  float: right
}