#content .WireTabs #_ProcessPageEditPrev,
#content .WireTabs #_ProcessPageEditNext {
  float: right
}

#content .WireTabs #_ProcessPageEditPrev,
#content .WireTabs #_ProcessPageEditNext {
  color: #146ac5;
  font-weight: 700;
}

#content .WireTabs #_ProcessPageEditPrev:hover,
#content .WireTabs #_ProcessPageEditNext:hover {
  color: #fff;
}


/**
 * RENO TWEAKS
 * ===============================
 */

.AdminThemeReno #content .WireTabs #_ProcessPageEditPrev:hover,
.AdminThemeReno #content .WireTabs #_ProcessPageEditNext:hover {
  color: #E95372;
}

/**
 * UIKIT TWEAKS
 * ===============================
 */

.AdminThemeUikit ul#PageEditTabs li.nextLink,
.AdminThemeUikit ul#PageEditTabs li.prevLink {
  position: absolute;
  right:0;
}

.AdminThemeUikit ul#PageEditTabs li.spaceRight {
  right:80px;
}

.AdminThemeUikit #content .WireTabs #_ProcessPageEditPrev:hover,
.AdminThemeUikit #content .WireTabs #_ProcessPageEditNext:hover {
  color: #E91C60 !important;
}